:root {
  --color-primary: #1b432e;
  --color-secondary: #a67c52;
  --color-teritary: #7d6b5d;
  --color-neutral: #fdf8f1;

  /* Fonts */
  --color-font-primary: #012d19;
  --color-font-secondary: #1d1c18;
  /* Accent Colors */
  --color-secondary-borders: #7c5730;
  --color-secondary-tags: #f9dcc4;
  --color-secondary-labels: #e29578;

  /* BG-color */
  --color-bg: #fef9f2;
  --color-bg-section: #f2ede6;

   /* Colors */
  --primary-green: #1B432E;
  --nordic-midnight: #012D19;
  --hearth-cream: #FEF9F2;
  --soft-stone: #F2EDE6;
  --roasted-earth: #7C5730;
  --sun-drenched-wheat: #F9DCC4;
  --amber-glow: #E29578;
  --nav-bg: rgba(254, 249, 242, 0.6);
   --surface-container-lowest: #ffffff;
  --error-container: #ffdad6;
  --on-background: #1d1c18;
  --secondary: #7c5730;
  --primary: #012d19;
  --on-surface: #1d1c18;
  --on-error-container: #93000a;
  --inverse-on-surface: #f5f0e9;
  --outline-variant: #c1c8c1;
  --surface-bright: #fef9f2;
  --primary-container: #1b432e;
  --on-secondary-fixed: #2c1600;
  --background: #fef9f2;
  --primary-fixed-dim: #a5d1b4;
  --inverse-primary: #a5d1b4;
  --on-secondary-container: #79542d;
  --surface: #fef9f2;
  --surface-container: #f2ede6;
  --error: #ba1a1a;
  --on-tertiary: #ffffff;
  --on-tertiary-container: #b7a293;
  --surface-variant: #e6e2db;
  --on-secondary-fixed-variant: #61401b;
  --on-tertiary-fixed: #25190f;
  --on-primary-container: #85b094;
  --surface-container-low: #f8f3ec;
  --secondary-fixed: #ffdcbd;
  --on-primary-fixed-variant: #274e39;
  --tertiary: #302318;
  --inverse-surface: #32302c;
  --on-tertiary-fixed-variant: #534437;
  --on-primary: #ffffff;
  --primary-fixed: #c0edcf;
  --secondary-fixed-dim: #eebd8e;
  --surface-container-highest: #e6e2db;
  --outline: #717972;
  --tertiary-container: #48392d;
  --surface-container-high: #ece7e1;
  --tertiary-fixed-dim: #d9c2b2;
  --on-surface-variant: #414943;
  --on-primary-fixed: #002111;
  --secondary-container: #fdcb9b;
  --on-secondary: #ffffff;
  --surface-tint: #3f674f;
  --on-error: #ffffff;
  --surface-dim: #ded9d3;
  --tertiary-fixed: #f6decd;

  /* Typography */
  --font-heading: "Manrope", sans-serif;
  --font-body: "Newsreader", serif;
  
  /* Spacing & Radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --spacing-unit: 8px;
}